.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2300'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}
.carousel-control-next, .carousel-control-prev {
  width: 30px;
}
.carousel-control-prev {
  left: -25px;
}
.carousel-control-next {
  right: -25px;
}
.video-right {
  background: linear-gradient(rgba(0, 0, 0, 0.78), rgba(41, 39, 39, 0.68)),
    url(../img/bg-video.jpg) no-repeat center;
  background-size: cover;
  height: 350px;
}
.bg-grey {
  background-color: #f9f9ff;
}

.footer-text {
  font-size: 26px;
}